#taschenrechner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-around;
    width: 40vh;
    height: 50vh;
    margin: auto;
    flex-direction: row;
    border: solid;
    background-color: lightgray;
}

#eingabe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 10vh;
}

#eingabefeld {
    width: 80%;
    height: 5vh;
    border: solid;
    text-align: right;
    font-size: 150%;
}

#eingabetasten {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#zusatzzeichen {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 3vh;
}

#nummern {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 66%;
    height: 15vh;
}

#zeichen {
    width: 33%;
    height: 15vh;
}

#addieren {
    flex-grow: 1;
}

.nummern {
    width: 33%;
    height: 25%;
}

.zeichen{
    width: 100%;
    height: 25%;
}

.zusatzzeichen {
    width: 33%;
}

button {
    font-weight: bold;
}








